*{
    margin: 0px;
    font-family: 'inter';   
}

#menusuperior{
   padding-top: 206px;
   padding-left: 62px;
   padding-bottom: 150px;
   background-color: #303030;
}

#titulo-superior{
   font-size: 60px;
   color: #FFFFFF;
}

#texto-superior{
    font-size: 20px;
    color: #FFFFFF;
}

#menupequeno{
    display: flex;
    background-color: #F9F9F9; 
}

.pequeno-informativo{ 
    margin-top: 54px;
    font-size: 20px;
    margin: 20px;
    margin-left: 150px;
    color: #000000;   
}

#informativo{
   text-align: left; 
   padding-top: 300px;
   padding-left: 75px;
   color: #000000;  
}

#menuinformativo{
   display: grid;
   grid-auto-flow: column;
}

#fotofundo{
   padding-top: 200px;
   padding-bottom: 100px;
}

.informativo{
   padding-left: 200px;
}

#titulo-informativo{
   padding-top:400px;
   font-size: 40px;
}

#texto-informativo{
   font-size: 24px;
   padding-top: 50px;
}

#formul{
   text-align: center;
   background-color: #303030;
}
 
#texto-formulario{
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    padding-top: 100px;
    padding-bottom: 25px;
}

input {
   width: 450px;
   height: 72px;
   border-radius: 5px;
   border: 0px;
   margin: 25px;
   padding-left: 25px;  
   color:#0000004D;  
   font-size: 24px;
   font-weight: bolder;  
}

button{
   background-color:#C07212;
   color: #FFFFFF;
   width: 286px;
   height: 74px;
   border-radius: 10px;
   font-weight: bolder;
   font-size: 30px;
   border: 0px;
   margin: 50px;
   margin-bottom: 100px;
   cursor: pointer;
}
